/* ==== PALETTE DES COULEURS ==== */


:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/* ==== PALETTE DES TEXTES ==== */


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
:root {
    --police-titre: Georgia, "Times New Roman", serif;
    --police-texte: "Comic Sans MS", cursive, sans-serif;
    --taille-titre-principal: 2rem;  /* h1 */
    --taille-sous-titre: 1.5rem;         /* h2 */
    --taille-texte: 1rem;              /* p */
    --gras-titre: 700;
    --gras-texte: 400;
}


/* style titre */

h1 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

h2 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-sous-titre);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

/* style texte */
p, span {
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.6;
}


/* style lien */

a {
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
    color: var(--texte-lien);
}


/* == hover == */

a:hover {
    color: var(--objet-survol);
}


/* == active == */

a:active {
    color: var(--objet-clic);
}




/* ==== PALETTE DES BULLE ==== */


.bulle_principal {
    display: grid;
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 9px;
    margin: 0% 20% 2% 20%;
    text-align: center;
    border-radius: 50px;
}

.bulle_secondaire {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 10px 40px 10px 40px;
    margin: 5% 5% 5% 5%;
    text-align: center;
    border-radius: 75px;
}

.bulle_jeux {
    display: grid;
    grid-template-columns:repeat(3, 1fr); 
    grid-template-rows:repeat(3, 1fr); 
    background-color: var(--font-contenu);
    border-radius: 25px;
    padding: 15px 5px 5px 15px;
    margin: auto;
    height: 300px;
    width: 300px;
    border: solid;
    color: var(--font-contours);
    justify-content: center;
}

.bulle_info {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 10px;
    margin: 5% 25% 1% 25%;
    text-align: center;
    border-radius: 100px;
    transition: 1s;
}

.bulle_action {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 3px;
    margin: 5% 20% 5% 20%;
    text-align: center;
    border-radius: 100px;
    transition: 1s;
}

.bulle_lien {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    padding: 10px;
    border-radius: 25px;
    position: fixed;
    bottom: 2%;
    left: 35%;
    right: 35%;
    transition: 1s;
}

.bulle_lien h2 {
    grid-area: 1 / 1 / 2 / 5;
    margin: auto;
}

.bulle_lien a:nth-child(2) { 
    grid-area: 2 / 1;
    margin: auto;
}

.bulle_lien a:nth-child(3) { 
    grid-area: 2 / 2;
    margin: auto;
}

.bulle_lien a:nth-child(4) { 
    grid-area: 2 / 3;
    margin: auto;
}

.bulle_lien a:nth-child(5) { 
    grid-area: 2 / 4;
    margin: auto;
}


/* == hover == */

.bulle_info:hover {
    border: solid var(--objet-survol);
    padding: 6px;
    margin: 5% 24% 1% 24%;
    transition: 1s;
}

.bulle_action:hover {
    color: var(--objet-survol);
    padding: 0px;
    margin: 5% 21% 5% 21%;
    transition: 1s;
}

.bulle_action:hover * {
    color: inherit; /* "Prends la même couleur que ton parent" */
    border: none;
    transition: 1s;
}

.bulle_lien:hover {
    border-radius: 50px;
    position: fixed;
    bottom: 2%;
    left: 36%;
    right: 36%;
    transition: 1s;
}


/* == active == */

.bulle_info:active {
    border: solid var(--objet-clic);
    transition: 1s;
}

.bulle_action:active {
    color: var(--objet-clic);
    transition: 1s;
}





/* ==== PALETTE DES btn ==== */


.btn_base {
    background-color: var(--font-contenu);
    color: var(--objet-permanent);
    padding: 20px 30px 20px 30px;
    border-radius: 100px;
    margin: 2% ;
    transition: 0.6s;
}

.btn_accueil {
    display: grid;
    background-color: var(--font-contenu);
    color: var(--objet-permanent);
    padding: 20px 30px 20px 30px;
    border-radius: 100px;
    margin: 1% ;
    transition: 0.6s;
}

.btn_jeux {
    width: 90px;
    height: 90px;
    transition: 0.10s;
}


/* survol */

.btn_base:hover {
    padding: 25px 35px 25px 35px;
    border-radius: 100px;
    color: var(--objet-survol);
    transition: 0.6s;
}

.btn_base:hover {
    padding: 25px 35px 25px 35px;
    border-radius: 100px;
    color: var(--objet-survol);
    transition: 0.6s;
}

.btn_jeux:hover {
    width: 95px;
    height: 95px;
    transition: 0.10s;
}


/* clic */

.btn_base:active {
    padding: 15px 25px 15px 25px;
    border-radius: 100px;
    color: var(--objet-clic);
    transition: 0.4s;
}

.btn_accueil:active {
    padding: 15px 25px 15px 25px;
    border-radius: 100px;
    color: var(--objet-clic);
    transition: 0.4s;
}

.btn_jeux:active {
    width: 85px;
    height: 85px;
    transition: 0.10s;
}




/* ==== PALETTE DES img ==== */


img {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}


/* == hover == */

img:hover {
    width: 55px;
    height: 55px;
    opacity: 50%;
    transition: 0.5s;
}




/* ==== CSS body ==== */


body {
    background-color: var(--fond-principal);
    text-align: center;
}

.vertical {
    display: flex;
    justify-content: center;
}

.menu {
    display: grid;
    grid-column-start: auto;
}